<!DOCTYPE html>
<html>
<head>
    <title>Halaman Daftar Topik</title>
    <script src = 'script/script.js' defer></script>
    <link rel="stylesheet" href="styling/DaftarTopikDsn.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body onload="realTimeClock()">
    <div class="marginKiri"></div>
    <div class="header">
        <div class="garisSalam"></div>
        <div class="containerLogoIF">
            <img src = logo/iflogo.png id="logoif">
        </div>
        <div class="tulisanHeader">
            <p class="tulisanSatu">Salam Akademik!</p>
            <p class="tulisanDua">Selamat datang di website Topik Skripsi Informatika UNPAR!</p>
        </div>
        <a href="/logout" id="sOut">
            <img src="icon/Sign_in.png" id="sign_out" alt="sOut">
        </a>
    </div>
    <div class = "home"> 
        <div id="DaftarT">
            <b style='font-family:"Open Sans", monospace;font-size:120%'>
                DAFTAR TOPIK SKRIPSI - T.A <%= tahunA %> <%= semesterInput %>
            </b>
            <br>
            <br>
            <b style='font-family:"Open Sans", monospace;font-size:95%'>
                Keterangan:
            </b>
        </div>
        <div id="infoUser">
            <!-- sesuai login --> 
                <div id="circle">
                    <p id="first_letter"><%= inisial %> </p> <!-- kalo nama = Erwin Darsono, maka huruf = E -->
                </div>
                <p class="nama"><%= nama %></p> <!-- kalo nama = Erwin Darsono, maka = ERWIN DARSONO -->
                <!-- <p>6182001002@student.id</p> sesuai NPM/NIK, mahasiswa = student.com, dosen = lecturer.com, admin = admin.com -->
                <p class="email_user"><%= email %></p>
            </div>
        <div class="wrapper">
            <div id="fitur">
                <div class="review_topik">
                    <img src = icon/Chat_alt_add_fill.png id="iconReviewT">
                    <a href="/homeDsn" id="RT">
                        <input type="button" id="buttonRT" alt="RT" name="reviewT" value="Review Topik">
                    </a>                    
                </div>
                <div class="daftar_topik">
                    <img src = icon/Folder_alt_fill.png id="iconDaftarT">
                    <a href="/daftarTopikDsn" id="DT">
                        <input type="button" id="buttonDT" alt="DT" name="daftarT" value="Daftar Topik">
                    </a>                    
                </div>
                <div class="unggah_topik">
                    <img src = icon/import_fill.png id="iconUnggahT">
                    <a href="/unggahDsn" id="UT">
                        <input type="button" id="buttonUT" alt="UT" name="unggahT" value="Unggah Topik">
                    </a>                    
                </div>
                <div class="kotak_tinjauan">
                    <img src = icon/Message_fill.png id="iconKotakT">
                    <a href="/tinjauanDsn" id="KT">
                        <input type="button" id="buttonKT" alt="KT" name="kotakT" value="Kotak Tinjauan">
                    </a>                    
                </div>
            </div>
            <div class="garis_waktu"></div>
            <div id="real_day"></div>
            <div id="real_time"></div>
        </div>
        <div id="DaftarTopik">
            <div id="ket" style='font-family:"Open Sans", monospace;font-size:85%'>
                <div id="ket1">
                    - CS = Computing Science
                    <br>
                    - DS = Data Science
                </div>
                <div id="ket2">
                    - (*) = Topik Skripsi Jenis Bintang
                    <br>
                    - Non(*) = Topik Skripsi Jenis Reguler
                </div>
                <div id="ket3"> 
                    <br> 
                    <form action="/filterBPm" method="post" enctype="multipart/form-data">
                        <div id="filter">
                            <select name="FilterBP" id="FilterBP" placeholder="Cari Bidang Peminatan">    
                                <option value="All">All</option>  
                                <option value="CS">Computing Science</option>
                                <option value="DS">Data Science</option>                                
                            </select>
                            <input type="submit" value="filter" id="searchbtn">
                        </div>
                    </form>
                    
                </div>
            </div>
            <br>
            <div id="tabelDT">
                <table rules="all" id="tbl">
                    <tr>
                        <td id="judulTbl"> No </td>
                        <td id="judulTbl"> Judul Topik </td>
                        <td id="judulTbl"> Dosen Pengaju </td>
                        <td id="judulTbl"> Email </td>
                        <td id="judulTbl"> Kode Topik </td>
                        <td id="judulTbl"> Bidang Peminatan </td>
                        <td id="judulTbl"> Jenis Skripsi </td>
                        <td id="judulTbl"> Status </td>
                    </tr>
                    <% let index = 1 %> 
                    <% for (let topik of result) { %>
                        <tr class="txt">
                            <td> <%= index++ %> </td>
                            <td> <%= topik.judul %> </td>
                            <td> <%= topik.nama %> </td>
                            <td> <%= topik.email %> </td>
                            <td> <%= topik.kodeTopik %> </td>
                            <td> <%= topik.bidangPeminatan %> </td>
                            <td> <%= topik.jenisSkripsi %> </td>
                            <td id="sf"> <%= topik.statusFinal %> </td>
                        </tr>
                    <% } %> 
                    <!-- <tr class="txt">
                        <td> 1 </td>
                        <td> Perangkat Lunak Sistem Manajemen Inventori </td>
                        <td> Rosa De Lima Endang Padmowati </td>
                        <td> rosa@unpar.ac.id </td>
                        <td> RDL71 </td>
                        <td> CS </td>
                        <td> * </td>
                        <td> OPEN </td>
                    </tr> -->
                    
                    <!-- <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 2 </td>
                        <td> Analisis Visualisasi Data Kasus Covid-19 </td>
                        <td> Vania Natali </td>
                        <td> VN82 </td>
                        <td> DS </td>
                        <td> - </td>
                        <td> NULL </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 3 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 4 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 5 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 6 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 7 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 8 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td> 
                        <td> 9 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr>
                    <tr class="txt">
                        <td class="tb"> <img src="./icon/Remove_fill.png" class="rmv" hidden> </td>
                        <td> 10 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td> <img src="./icon/Edit_fill.png" id="edit" class="ed"><img src="./icon/Setting_fill.png" id="edit" class="opt" hidden> </td>
                    </tr> -->
                </table> 
            </div>
            <br>
            <div>
                <img src="./icon/Setting_fill.png" id="setting_button" onclick="opn4()">
            </div>
        </div>
        <div id="overlayUSd">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <a href="/daftarTopikDsn" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>        
                </div>
                <div>
                <form action="/ubahStatusd" method="post" enctype="multipart/form-data">
                    <input type="text" name="namaKT" id="namaKT" placeholder="Tulis Kode Topik">
                    <input type="text" name="idMhsT" id="idMhsT" placeholder="Tulis ID Mahasiswa">
                    <div>
                        <select name="ubahStatus" id="ubahStatus" placeholder="Ubah Status">   
                            <option value="taken">TAKEN</option>
                            <option value="close">CLOSE</option>
                        </select>
                    </div>
                    <div id="text"> Apakah anda yakin untuk mengganti status? </div>
                    <input type="submit" value="Iya" id="SY" onclick="on2()">      
                    <a href="/daftarTopikDsn" id="STbtn">
                        <input type="button" value="Tidak" id="ST" alt="STbtn">
                    </a>                          
                </form>                                
            </div>       
        </div>  
    </div>
</body>
</html>