<!DOCTYPE html>
<html>
<head>
    <title>Halaman Review</title>
    <script src = 'script/script.js' defer></script>
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CESDK2J7&placement=getbutterflycom" id="_carbonads_js"></script>
    <link rel="stylesheet" href="styling/HalamanReview.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body onload="realTimeClock()">
    <div class="marginKiri"></div>
    <div class="header">
        <div class="garisSalam"></div>
        <div class="containerLogoIF">
            <img src = logo/iflogo.png id="logoif">
        </div>
        <div class="tulisanHeader">
            <p class="tulisanSatu">Salam Akademik!</p>
            <p class="tulisanDua">Selamat datang di website Topik Skripsi Informatika UNPAR!</p>
        </div>
        <a href="/logout" id="sOut">
            <img src="icon/Sign_in.png" id="sign_out" alt="sOut">
        </a>
    </div>
    <div class = "home"> 
        <div id="DaftarT">
            <div><img src="./icon/Edit_fill.png" onclick="ops()" id="icon_periode"></div>
            <b style='font-family:"Open Sans", monospace;font-size:120%'>
                DAFTAR TOPIK SKRIPSI - T.A <%= tahunA %> <%= semesterInput %>
            </b>
            <br>
            <br>
            <b style='font-family:"Open Sans", monospace;font-size:95%'>
                Keterangan:
            </b>
        </div>
        <div id="infoUser">
        <!-- sesuai login --> 
            <div id="circle">
                <p id="first_letter"><%= inisial %> </p> <!-- kalo nama = Erwin Darsono, maka huruf = E -->
            </div>
            <p class="nama"><%= nama %></p> <!-- kalo nama = Erwin Darsono, maka = ERWIN DARSONO -->
            <!-- <p>6182001002@student.id</p> sesuai NPM/NIK, mahasiswa = student.com, dosen = lecturer.com, admin = admin.com -->
            <p class="email_user"><%= email %></p>
        </div>
        <div class="wrapper">
            <div id="fitur">
                <div class="review_topik">
                    <img src = icon/Chat_alt_add_fill.png id="iconReviewT">
                    <a href="/home" id="RT">
                        <input type="button" id="buttonRT" alt="RT" name="reviewT" value="Review Topik">
                    </a>                    
                </div>
                <div class="daftar_topik">
                    <img src = icon/Folder_alt_fill.png id="iconDaftarT">
                    <a href="/daftarTopik" id="DT">
                        <input type="button" id="buttonDT" alt="DT" name="daftarT" value="Daftar Topik">
                    </a>                    
                </div>
                <div class="unggah_topik">
                    <img src = icon/import_fill.png id="iconUnggahT">
                    <a href="/unggah" id="UT">
                        <input type="button" id="buttonUT" alt="UT" name="unggahT" value="Unggah Topik">
                    </a>                    
                </div>
                <div class="kotak_tinjauan">
                    <img src = icon/Message_fill.png id="iconKotakT">
                    <a href="/tinjauan" id="KT">
                        <input type="button" id="buttonKT" alt="KT" name="kotakT" value="Kotak Tinjauan">
                    </a>                    
                </div>
                <div class="kotak_jawaban">
                    <img src = icon/Chat_plus_fill.png id="iconKotakJ">
                    <a href="/jawaban" id="KJ">
                        <input type="button" id="buttonKJ" alt="KJ" name="kotakJ" value="Kotak Jawaban">
                    </a>                    
                </div>
                <div class="kelola_user">
                    <img src = icon/user_add_alt_fill.png id="iconKelolaU">
                    <a href="/kelola" id="KU">
                        <input type="button" id="buttonKU" alt="KU" name="kelolaU" value="Kelola User">
                    </a>                    
                </div>
                <div class="report">
                    <img src = icon/Arhive_load_fill.png id="iconReport">
                    <a href="/report" id="RTS">
                        <input type="button" id="buttonR" alt="RTS" name="report" value="Report">
                    </a>                    
                </div>
            </div>
            <div class="garis_waktu"></div>
            <div id="real_day"></div>
            <div id="real_time"></div>
        </div>
        <div id="DaftarTopik">
            <div id="ket" style='font-family:"Open Sans", monospace;font-size:85%'>
                <div id="ket1">
                    - CS = Computing Science
                    <br>
                    - DS = Data Science
                </div>
                <div id="ket2">
                    - (*) = Topik Skripsi Jenis Bintang
                    <br>
                    - Non(*) = Topik Skripsi Jenis Reguler
                    <br><br>
                    <!-- <form action="/deleteTopik" method="post" enctype="multipart/form-data">
                        <div id="delT">
                            <input type="text" name="deleteKT" id="deleteKT" placeholder="Tulis Kode Topik">
                            <input type="submit" value="delete" id="deletebtn">
                        </div>
                    </form> -->
                </div>
                <div id="ket3">
                    <br>             
                    <br>
                    <div id="date">
                        <!-- sesuai input admin -->                    
                    </div>   
                    <br> <br>
                    <form action="/deleteTopik" method="post" enctype="multipart/form-data">
                        <div id="delT">
                            <input type="text" name="deleteKT" id="deleteKT" placeholder="Tulis Kode Topik">
                            <input type="submit" value="delete" id="deletebtn">
                        </div>
                    </form>
                    <!-- <br>
                    <form action="/filterBP" method="post" enctype="multipart/form-data">
                        <div id="filter">
                            <select name="FilterBP" id="FilterBP" placeholder="Cari Bidang Peminatan">     
                                <option value="All">All</option> 
                                <option value="CS">Computing Science</option>
                                <option value="DS">Data Science</option>                                
                            </select>
                            <input type="submit" value="filter" id="searchbtn">
                        </div>
                    </form>                     -->
                </div>
                <!-- <div id="ket4">
                    <form method="post" action="/reviewHingga" enctype="multipart/form-data">
                        <input type="date" id="iconDate">
                    </form>
                    <br>
                </div> -->
                <!-- <div id="icDate">
                    <img src = icon/Date_range_fill.png onclick="dt()" id="icon_date">      
                    <br><br>
                </div> -->
                
            </div>
            <br>
            <div id="tabelDT">
                <table rules="all" id="tbl" class="wp-list-table widefat striped posts">
                    <tr >
                        <td id="judulTbl"> No </td>
                        <td id="judulTbl"> Judul Topik </td>
                        <td id="judulTbl"> Dosen Pengaju </td>
                        <td id="judulTbl"> Kode Topik </td>
                        <td id="judulTbl"> Bidang Peminatan </td>
                        <td id="judulTbl"> Jenis </td>
                        <td id="judulTbl"> Status </td>
                        <td id="judulTbl"> PDF </td>
                    </tr>
                    <% let index = 1 %> 
                    <% for (let topik of result) { %>
                        <tr class="txt">
                            <td> <%= index++ %> </td>
                            <td> <%= topik.judul %> </td>
                            <td> <%= topik.nama %> </td>
                            <td> <%= topik.kodeTopik %> </td>
                            <td> <%= topik.bidangPeminatan %> </td>
                            <td> <%= topik.jenisSkripsi %> </td>
                            <td id="sf"> <%= topik.statusFinal %> </td>
                            <td> 
                                <a href= <%= topik.pathFile %>>
                                    <img src="http://daa.labftis.net/assets/images/pdf.svg" aria-label="Download PDF">
                                </a>
                            </td>
                        </tr>
                    <% } %> 
                </table> 
            </div>
        </div>
        <div id="overlay">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <a href="/home" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>        
                </div>
                <form>
                    <div id="text"> Apakah anda ingin menyebarkan topik skripsi yang memiliki status open?</div>
                    <input type="submit" value="Iya" id="SY" onclick="on2()">
                    <a href="/home" id="STbtn">
                        <input type="submit" value="Tidak" id="ST" alt="STbtn">
                    </a>              
                </form>                
            </div>       
        </div>        
        <!-- <img src="./icon/Edit_fill.png" id="edit" class="ed" onclick="opn()">  -->
        <div class="grid">
            <div class="tes1"><img src="./icon/Setting_fill.png" id="set" onclick="opn3()"></div>
            <div class="tes2"><button id="publish" onclick="opn()">Review</button></div>
            <button id="prevButton" onclick="pager.showPage(1)">Previous</button> 
            <button id="nextButton" onclick="pager.showPage(2)">Next</button> 
            <div id="pageNavPosition" class="pager-nav"></div>
        </div>
        <div class="grid2">
            <div class="tombolReview">
                <input type="submit" value="Review">
            </div>
            <div class="tombolPengaturan">
                <input type="submit" value="Pengaturan">
            </div>
        </div>
        <div id="ovy">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <div class="tt">Tinjauan Dosen</div>
                    <a href="/home" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>                   
                </div>
                <form action="/review" method="post" enctype="multipart/form-data">
                    <label class="inputKode_review">Kode Topik</label>
                    <input type="text" name="kodeTopik">
                    <!-- <div id="tt1">Judul Topik: Perangkat Lunak Sistem Manajemen Inventori</div>
                    <div id="tt1">Dosen Pengaju: Rosa De Lima Endang Padmowati</div> -->
                    <hr>
                    <div id="tt2">Status</div>
                    <div id="pc">
                        <input type="radio" name="radio" id="ck" onclick="offset()" value="ok">
                        <label class="container">OK</label>    
                        <input type="radio" name="radio" id="ck1" onclick="option()" value="inq">
                        <label class="container">INQ</label>
                        <input type="radio" name="radio" id="ck2" onclick="option1()" value="no">
                        <label class="container">NO</label>
                    </div>
                    <div id="kk" hidden>
                        <div id="pr1">
                            <input type="submit" value="Kirim" id="SY">
                            <input type="submit" value="Batal" id="ST">
                        </div>
                    </div>
                    <div id="kmn" hidden>
                        <div id="tt2">Komentar<div id="tt3">* max: 250 kata</div></div>
                        <div id="ta"><textarea placeholder="Masukan komentar di sini" rows="4" cols="74" maxlength="250" id="maxta" name="komentar"></textarea></div>
                        <div id="pr1">
                            <input type="submit" value="Kirim" id="SY">
                            <input type="submit" value="Batal" id="ST">
                        </div>
                    </div>
                    <div id="prt" hidden>
                        <div id="tt2">Pertanyaan<div id="tt3">* max: 250 kata</div></div>
                        <div id="ta"><textarea placeholder="Masukan pertanyaan di sini" rows="4" cols="74" maxlength="250" name="pertanyaan"></textarea></div>
                        <div id="pr">
                            <input type="submit" value="Kirim" id="SY">
                            <input type="submit" value="Batal" id="ST">
                        </div>
                    </div>
                    <!-- <div id="pr">
                        <input type="submit" value="Kirim" id="SY" onclick="opn1()">
                        <a href="/home" id="STbtn">
                            <input type="submit" value="Batal" id="ST" alt="STbtn">
                        </a> 
                    </div> -->
                </form>                
            </div>       
        </div>
        <div id="ovy1">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <div class="tt">Status Final</div>
                    <a href="/home" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>                   
                </div>
                <form>
                    <div id="tt2">Status</div>
                    <div id="pc">
                        <input type="radio" name="radio" id="op" value="OPEN" onclick="ret()">
                        <label class="container">OPEN</label>    
                        <input type="radio" name="radio" id="tk" value="TAKEN" onclick="">
                        <label class="container">TAKEN</label>
                    </div>
                    <div id="pr">
                        <input type="submit" value="Kirim" id="SY" onclick="opn1()">
                        <a href="/home" id="STbtn">
                            <input type="submit" value="Batal" id="ST" alt="STbtn">
                        </a> 
                    </div>
                </form>                
            </div>       
        </div>
        <div id="overlayUS">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <a href="/home" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>        
                </div>
                <div>
                <form action="/ubahStatus" method="post" enctype="multipart/form-data">
                    <input type="text" name="namaKT" id="namaKT" placeholder="Tulis Kode Topik">
                    <select name="ubahStatus" id="FilterBP" placeholder="Ubah Status">      
                        <option value="open">OPEN</option>
                        <option value="declined">DECLINED</option>
                        <option value="taken">taken</option>
                        <option value="close">close</option>                        
                    </select>
                    <div id="text"> Apakah anda yakin untuk mengganti status? </div>
                    <input type="submit" value="Iya" id="SY" onclick="on2()">      
                    <a href="/home" id="STbtn">
                        <input type="button" value="Tidak" id="ST" alt="STbtn">
                    </a>                          
                </form>                                
            </div>       
        </div>    
        <!-- <div id="ovy1">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <div class="tt">Tinjauan Dosen</div>
                    <a href="/home" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>                   
                </div>
                <form>
                    <div id="tt1">Judul Topik: Perangkat Lunak Sistem Manajemen Inventori</div>
                    <div id="tt1">Dosen Pengaju: Rosa De Lima Endang Padmowati</div>
                    <hr>
                    <div id="tt2">Status</div>
                    <div id="pc">
                        <input type="radio" checked="checked" name="radio" id="ck">
                        <label class="container">OK</label>    
                        <input type="radio" name="radio" id="ck">
                        <label class="container">INQ</label>
                        <input type="radio" name="radio" id="ck">
                        <label class="container">NO</label>
                    </div>
                    <div id="tt2">Pertanyaan</div>
                    <div id="ta"><textarea placeholder="Masukan pertanyaan di sini" rows="4" cols="74"></textarea></div>
                    <div id="pr">
                        <input type="submit" value="Kirim" id="SY" onclick="opn2()">
                        <a href="/home" id="STbtn">
                            <input type="submit" value="Batal" id="ST" alt="STbtn">
                        </a> 
                    </div>
                </form>                
            </div>       
        </div>   
        <div id="ovy2">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <div class="tt">Tinjauan Dosen</div>
                    <a href="/home" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>                  
                </div>
                <form>
                    <div id="tt1">Judul Topik: Perangkat Lunak Sistem Manajemen Inventori</div>
                    <div id="tt1">Dosen Pengaju: Rosa De Lima Endang Padmowati</div>
                    <hr>
                    <div id="tt2">Status</div>
                    <div id="pc">
                        <input type="radio" checked="checked" name="radio" id="ck">
                        <label class="container">OK</label>    
                        <input type="radio" name="radio" id="ck">
                        <label class="container">INQ</label>
                        <input type="radio" name="radio" id="ck">
                        <label class="container">NO</label>
                    </div>
                    <div id="tt2">Komentar<div id="tt3">* max: 150 kata</div></div>
                    <div id="ta"><textarea placeholder="Masukan komentar di sini" rows="4" cols="74" maxlength="150" id="maxta" onkeyup="max()"></textarea></div>
                    <div id="pr">
                        <input type="submit" value="Kirim" id="SY">
                        <a href="/home" id="STbtn">
                            <input type="submit" value="Batal" id="ST" alt="STbtn">
                        </a> 
                    </div>
                </form>                
            </div>       
        </div>    -->
    </div>
    <div id="ovr">  
        <div id="isiOverlay1" >
            <div id="iconHead">
                <img src = icon/circle.png id="ic1">
                <a href="/home" id="ic2">
                    <img src = "icon/Close.png" alt="ic2">
                </a>        
            </div>
            <div>
            <form method="post" action="/periode" enctype="multipart/form-data">
                <div id="tahunA">
                    <label for="lang">Tahun Ajar</label>
                    <input type="text" name="TahunAjar" id="TahunAjar" placeholder="tahun-ajar">
                    <br>
                </div>
                <div id="smst">
                    <label for="lang">Semester</label>
                    <select name="Semester" id="smes">
                        <option value="Ganjil">Ganjil</option>
                        <option value="Genap">Genap</option>
                    </select>
                    <br>
                </div>
                <input type="submit" value="Iya" id="SY" onclick="sms()">      
                <a href="/home" id="STbtn">
                    <input type="button" value="Tidak" id="ST" alt="STbtn">
                </a>                          
            </form>                                
        </div>       
    </div> 
</body>
</html>