<!DOCTYPE html>
<html>
<head>
    <title>Halaman Kelola User</title>
    <script src = 'script/script.js' defer></script>
    <link rel="stylesheet" href="styling/KelolaUser.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body onload="realTimeClock()">
    <div class="marginKiri"></div>
    <div class="header">
        <div class="garisSalam"></div>
        <div class="containerLogoIF">
            <img src = logo/iflogo.png id="logoif">
        </div>
        <div class="tulisanHeader">
            <p class="tulisanSatu">Salam Akademik!</p>
            <p class="tulisanDua">Selamat datang di website Topik Skripsi Informatika UNPAR!</p>
        </div>
        <a href="/logout" id="sOut">
            <img src="icon/Sign_in.png" id="sign_out" alt="sOut">
        </a>
    </div>
    <div class = "home"> 
        <div id="infoUser">
            <div id="circle">
                <p id="first_letter"><%= inisial %></p>
            </div>
            <p class="nama"><%= nama %></p>
            <p class="email_user"><%= email %></p>
        </div>
        <div class="wrapper">
            <div id="fitur">
                <div class="daftar_topik">
                    <img src = icon/Folder_alt_fill.png id="iconDaftarT">
                    <a href="/home" id="DT">
                        <input type="button" id="buttonDT" alt="DT" name="daftarT" value="Daftar Topik">
                    </a>
                </div>
                <div class="unggah_topik">
                    <img src = icon/import_fill.png id="iconUnggahT">
                    <a href="/unggah" id="UT">
                        <input type="button" id="buttonUT" alt="UT" name="unggahT" value="Unggah Topik">
                    </a>
                    
                </div>
                <div class="kotak_tinjauan">
                    <img src = icon/Message_fill.png id="iconKotakT">
                    <a href="/tinjauan" id="KT">
                        <input type="button" id="buttonKT" alt="KT" name="kotakT" value="Kotak Tinjauan">
                    </a>
                    
                </div>
                <div class="kelola_user">
                    <img src = icon/user_add_alt_fill.png id="iconKelolaU">
                    <a href="/kelola" id="KU">
                        <input type="button" id="buttonKU" alt="KU" name="kelolaU" value="Kelola User">
                    </a>
                    
                </div>
            </div>
            <div class="garis_waktu"></div>
            <div id="real_day"></div>
            <div id="real_time"></div>
        </div>
        <div id="DaftarTopik">
            <div id="ket">
                <div class="dropdown"><br>
                    <button class="dropbtn" onclick="on1()">Add User</button>
                </div>
            </div>
            <br>
            <div id="tabelDT">
                <table rules="all" id="tbl">
                    <tr>
                        <td> No </td>
                        <td> Name </td>
                        <td> ID </td>
                        <td> Role </td>
                        <td> Email </td>
                        <td> Password </td>
                    </tr>
                    <% let index = 1 %>
                    <% for (let user of result) { %>
                        <!-- harus ubah lagi waktu ganti database -->
                        <tr>
                            <td> <%= index++ %> </td>
                            <td> <%= user.nama %> </td>
                            <td> <%= user.idUser %> </td>
                            <td> <%= user.idRole %> </td>
                            <td> <%= user.email %> </td>
                            <td> <%= user.password %> </td>
                        </tr>
                    <% } %> 
                    <!-- <tr>
                        <td> 2 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 3 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 4 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 5 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 6 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 7 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 8 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 9 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 10 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 11 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 12 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 13 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 14 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 15 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 16 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 17 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> 18 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr> -->
                </table> 
            </div>
        </div>
    </div>
    <div id="overlay" onclick="on1()">  
        <div id="isi" >
            <div id="iconHead">
                <img src = icon/circle.png id="ic1">
                <img src = icon/circle.png id="ic1">
                <img src = icon/circle.png id="ic1">
                <a href="/kelola" id="ic2">
                    <img src = "icon/Close.png" alt="ic2">
                </a>         
            </div>
            <form id="formUT" class="form_user" action="/addUser" method="post" enctype="multipart/form-data">
                <div id="formUT1">
                    <label for="lang">Nama</label>
                    <br>
                    <input type="text" name="nama" id="namaUser">
                    <br>                                            
                </div>
                <div id="formUT2">
                    <label for="lang">Role</label>
                    <br> 
                    <select name="idRole" id="role" class="role">
                        <option value="mahasiswa">Mahasiswa</option>
                        <option value="dosen">Dosen</option>
                        <option value="admin">Admin</option>
                    </select>  
                    <br>
                </div>
                <div id="garisV">
                </div>
                <div id="formUT3">
                    <label for="lang">Id</label>
                    <br>
                    <input type="text" name="idUser" id="id">
                    <br>
                </div>
                <div id="formUT4">
                    <label for="lang">Email</label>
                    <br>
                    <input type="email" name="email" id="email">
                    <br>
                </div>
                <div id="formUT5">
                    <label for="lang">Password</label>
                    <br>
                    <input type="password" name="password" id="password">
                    <br>
                </div>
                <!-- <div id="formUT6">
                    <label for="lang">Semester</label>
                    <br>
                    <select name="Semester" id="sems">
                        <option value="genap">Ganjil 2020/2021</option>
                        <option value="ganjil">Genap 2020/2021</option>
                        <option value="pendek">Pendek 2020/2021</option>
                        <option value="genap">Ganjil 2021/2022</option>
                        <option value="ganjil">Genap 2021/2022</option>
                    </select>
                    <br>
                </div> -->
                <div id="formUT7">
                    <input type="submit" value="add" id="submitUT" class="addUserBtn">
                </div>
            </form>
        </div>           
        <!-- <div id="overlay2" onclick="offUT()">  
            <div id="isi2">
                <div id="iconCheck" >
                    <img src = icon/Check.png >                
                </div>          
                <br>
                <h1 id="textGreen">User berhasil ditambahkan</h1>    
                <div id="text2" >
                    Kembali ke halaman utama
                    <br>
                    <img src = icon/Vector.png >        
                </div>    
            </div>                      
        </div> -->
    </div>
</body>
</html>