<!DOCTYPE html>
<html>
<head>
    <title>Kotak Tinjauan</title>
    <script src = 'script/script.js' defer></script>
    <link rel="stylesheet" href="styling/KotakTinjauan.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body onload="realTimeClock()">
    <div class="marginKiri"></div>
    <div class="header">
        <div class="garisSalam"></div>
        <div class="containerLogoIF">
            <img src = logo/iflogo.png id="logoif">
        </div>
        <div class="tulisanHeader">
            <p class="tulisanSatu">Salam Akademik!</p>
            <p class="tulisanDua">Selamat datang di website Topik Skripsi Informatika UNPAR!</p>
        </div>
        <a href="/logout" id="sOut">
            <img src="icon/Sign_in.png" id="sign_out" alt="sOut">
        </a>
    </div>
    <div class = "home"> 
        <div id="infoUser">
        <!-- sesuai login -->
            <%=  %>  
            <div id="circle">
                <p id="first_letter"><%= inisial %> </p> <!-- kalo nama = Erwin Darsono, maka huruf = E -->
            </div>
            <p class="nama"><%= nama %></p> <!-- kalo nama = Erwin Darsono, maka = ERWIN DARSONO -->
            <!-- <p>6182001002@student.id</p> sesuai NPM/NIK, mahasiswa = student.com, dosen = lecturer.com, admin = admin.com -->
            <p class="email_user"><%= email %></p>
        </div>
        <div class="wrapper">
            <div id="fitur">
                <div class="daftar_topik">
                    <img src = icon/Folder_alt_fill.png id="iconDaftarT">
                    <a href="/homeDsn" id="DT">
                        <input type="button" id="buttonDT" alt="DT" name="daftarT" value="Daftar Topik">
                    </a>                    
                </div>
                <div class="unggah_topik">
                    <img src = icon/import_fill.png id="iconUnggahT">
                    <a href="/unggahDsn" id="UT">
                        <input type="button" id="buttonUT" alt="UT" name="unggahT" value="Unggah Topik">
                    </a>                    
                </div>
                <div class="kotak_tinjauan">
                    <img src = icon/Message_fill.png id="iconKotakT">
                    <a href="/tinjauanDsn" id="KT">
                        <input type="button" id="buttonKT" alt="KT" name="kotakT" value="Kotak Tinjauan">
                    </a>                    
                </div>
            </div>
            <div class="garis_waktu"></div>
            <div id="real_day"></div>
            <div id="real_time"></div>
        </div>
        <div id="isiKU" class="grid_review">
            <% if (result.length < 1) { %>
                <p>Belum ada review dari dosen lain.</p>
            <% } else { %>
                <table rules="all" id="tbl">
                    <tr>
                        <td> No </td>
                        <td> IdReviewer </td>
                        <td> Judul Topik </td>
                        <td> Status </td>
                        <td> Isi </td>
                        <td> Tanggap </td>
                    </tr>
                    <% let index = 1 %> 
                        <% for (let review of result) { %>
                            <tr>
                                <td> <%= index++ %> </td>
                                <td> <%= review.idReviewer %> </td>
                                <td> <%= review.judul %> </td>
                                <td> <%= review.status %> </td>
                                <% if (review.status == 'inq') { %>
                                    <td> <%= review.pertanyaan %></td>
                                <% } else {%>
                                    <td> <%= review.komentar %> </td>
                                <% } %> 
                                <td> <img src="./icon/Edit_fill.png" id="edit" class="ed" onclick="opn()"></td>
                            </tr>
                        <% } %>
                </table>
            <% } %> 
        </div>
        <div id="ovy">  
            <div id="isi" >
                <div id="iconHead">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <img src = icon/circle.png id="ic1">
                    <a href="/home" id="ic2">
                        <img src = "icon/Close.png" alt="ic2">
                    </a>                   
                </div>
                <form action="/review" method="post" enctype="multipart/form-data">
                    <div id="tt1"></div>
                    <hr>
                    <!-- <div id="tt1">Judul Topik: Rosa De Lima Endang Padmowati</div>
                    <div id="tt2">Status: INQ</div>
                    <div id="kmn">
                        <div id="tt2">Komentar/Pertanyaan<div id="tt3">* max: 250 kata</div></div>
                        <div id="ta"><textarea placeholder="Masukan komentar di sini" rows="4" cols="55" maxlength="250" id="maxta" name="komentar"></textarea></div>
                    </div> -->
                    <div id="prt">
                        <div id="tt2">Jawaban<div id="tt3">* max: 250 kata</div></div>
                        <div id="ta"><textarea placeholder="Masukan pertanyaan di sini" rows="4" cols="55" maxlength="250" name="pertanyaan"></textarea></div>
                    </div>
                    <div id="pr">
                        <input type="submit" value="Kirim" id="SY">
                        <a href="/tinjauan" id="STbtn">
                            <input type="submit" value="Batal" id="ST" alt="STbtn">
                        </a> 
                    </div>
                </form>                
            </div>       
        </div>
    </div>
</body>
</html>